.debtAmount{
    width: 10REM!important;
    display: inline;
}

.memberName{
    width: 20REM!important;
    height: 2.6REM!important;
    display: inline;
}

.whiteBut {
    /*background-color: #eceeef !important;*/
    background-color: #FFFFFF !important;
    border-color: #c9cbcb !important;
}

.whiteBut:active, .btn-success.active,
.open > .btn-success.dropdown-toggle {
    color: #868888 !important;
}

#controlBox {
    margin-bottom: 0.5rem;
}

.memberBox {
    margin-bottom: 0.25rem;
}