.who-btn {
    margin-bottom: 1rem;
    width: 15rem;
}

.tip {
    color: #a1a1a1;
    font-size: 0.75rem;
}

.userPin {
    width: 5rem;
}

#paypalInput {
    width: 10rem;
}

#emailInput {
    width: 16.5rem;
}
