.grpCodeText {

}
.grpCodeButton {
    vertical-align: top;
}

.owed {
    color: #449d44;
}
.owe {
    color: #bd4147;
}

.dashItem {
    margin-bottom: 2rem;
}

.who-btn {
    margin-bottom: 1rem;
    width: 15rem;
}

#userPin {
    width: 5rem;
}